@import url("https://fonts.googleapis.com/css2?family=Battambang&display=swap");
body{
    margin: 0;
    padding: 0;
    font-family: "Battambang", sans-serif;
    border: none;
    font-size: 80%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    text-align: center;
}
.container .img{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.container .img img{
    width: 30%;
}
.container .container-body .title{
    font-size: 42px;
    color: #0593E3;
    text-shadow: 2px 10px 10px #aaa;
}
.container .fill-input{
    width: 100%;
}
.container .fill-input #user-name{
    padding: 8px;
    width: 20%;
    font-size: 18px;
}
.container .paragraph{
    margin-top: 10px;
    font-size: 18px;
}
.container #next-button{
    margin-top: 20px;
    padding: 4px 20px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    background: #0593E3;
    color: #fff;
    cursor: pointer;
    font-family: "Battambang", sans-serif;
}
.container #next-button:hover{
    transform: translateY(-2px);
    background-color: none;
    box-shadow: 2px 3px 8px 2px #aaa;
}

.menu-bar{
    box-sizing: border-box;
    font-size: 22px;
    width:30%;
    margin: auto;
}
.menu-bar li {
    list-style: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 6px;
    color: #fff;
}
.menu-bar li:hover{
    transform: translateY(-2px);
    box-shadow: 2px 3px 8px 2px #aaa;
}
.menu-bar #start-quiz{
    background: #00934C;
}
.menu-bar #view-question{
    background: #DCA10B;
}
.menu-bar #edit-questions{
    background: #007DC3;
}


/* start header container  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header-left {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.header-left .logo-title {
    margin-left: 10px;
    color: #007DC3;
    font-size: 18px;
}

.header-right {
    color: #007DC3;
    margin-right: 30px;
}
.userName {
    color: red;
}
/* / end header container  / */

/* start create menu bar */
.menu {
    display: flex;
    width: 40%;
    margin: auto;
    display: none;
}
.menu ul{
    margin-top: -0.5px;
    display: flex;
    justify-content: space-between;
    
}
.menu ul li {
    list-style: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 20px 60px;    
    background-color: #007DC3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.menu ul li:hover {
    background-color:rgb(143, 143, 233) ;
}
/* end create menu bar */
/* card-question */
.question-card {
    display: flex;
    width: 60%;
    background-color: grey;
    margin: auto;
    flex-wrap: wrap;
    display: none;
}
.card-header {
    width: 90%;
    margin: auto;
}
#questionInput {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: grey;
}
#questionInput::placeholder {
    color: white;
}
.card-body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.card-body input {
    width: 45%;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: none;
}
.card-footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#btn-nextQuestion {
    padding: 10px;
    background-color: #007DC3;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}