@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    font-size: 80%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    text-align: center;
}

.container .message-alert{
    font-size: 20px;
    box-shadow: 2px 4px 8px 1px #aaa;
    width: 50%;
    padding: 12px;
    margin: 20px auto;
    border-radius: 4px;
    display: none;
    color: red;
    font-weight: bold;
}
.container .message-alert .fa-close{
    float: right;
    cursor: pointer;
}
.container .message-alert .fa-close:hover{
    transform: scale(1.1);
}
.container .img{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.container .img img{
    width: 30%;
}
.container .container-body .title{
    font-size: 42px;
    color: #0593E3;
    text-shadow: 2px 10px 10px #aaa;
}
.container .fill-input{
    width: 100%;
}
.container .fill-input #user-name{
    padding: 8px;
    width: 20%;
    font-size: 18px;
}
.container .paragraph{
    margin-top: 10px;
    font-size: 20px;
}
button{
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    background: #0593E3;
    color: #fff;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
button:hover{
    transform: translateY(-2px);
    background-color: none;
    box-shadow: 2px 3px 8px 2px #aaa;
}

.menu-bar{
    box-sizing: border-box;
    font-size: 24px;
    width:50%;
    margin: auto;
    font-weight: 900;
    letter-spacing: 1px;
}
.menu-bar ul {
    display: flex;
}
.menu-bar li {
    list-style: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;
    color: #fff;
    padding: 12px 10px;
    text-transform: uppercase;
    height: 36vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-bar li:hover{
    transform: translateY(-2px);
    box-shadow: 2px 3px 8px 2px #aaa;
}
.menu-bar #start-quiz{
    background: #00934C;
}
.menu-bar #create-questions{
    background: #0593E3;
}


/* start header container  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header-left {
    display: flex;
    align-items: center;
    padding: 10px 36px;
}

.header-left .logo-title {
    margin-left: 14px;
    color: #0593E3;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
}

.header-right {
    color: #0593E3;
    margin-right: 30px;
    padding-right: 36px;
}

/* / end header container  / */

/* start create menu bar */
.menu {
    display: none;
    margin: auto;
}
.menu ul{
    display: flex;
    margin-top: -0.5px;
    justify-content: center;
    
}
.menu ul li {
    list-style: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 20px 40px;    
    background-color: #0593E3;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.menu ul li:hover {
    transform: scale(1.1);
}
/* end create menu bar */

/* card-question */
.container-create-questions {
    display: flex;
    width: 60%;
    background-color: #aaa;
    margin: 40px auto;
    flex-wrap: wrap;
    display: none;
    border-radius: 9px;
    padding: 30px;
}
.card-header {
    width: 90%;
    margin: auto;
}
#questionInput {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 93%;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
}
#questionInput::placeholder {
    color: gray;
    font-size: 16px;
}
.card-body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.card-body .input-group input[type='text'] {
    width: 100%;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    outline: none;
}
.card-body .input-group {
    width: 98%;
    display: flex;
    align-items: center;
}

.card-footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#btn-edit {
    padding: 10px;
    background-color: #0593E3;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}



















/* <!-- start show question to play one by one --> */
.container-question,.card{
    margin: 40px auto;
    font-size: 20px;
    background: #cccccc;
    border-top: 8px solid #0593E3;
    width: 60%;
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
} 
.question h2,.card-header h2{
    padding: 16px 0px;
    box-shadow: 2px 2px 8px 2px #aaa;
    border-radius: 4px;
    background-color: #ddd;
}
.multiple-answers,.card .card-body{
    padding: 10px 20px;
    background-color: #ddd;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px 2px #aaa;
}
.multiple-answers .answer,.card .card-body span{
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    width: 45%;
    margin: 20px auto;
    list-style: none;
    background: #0593E3;
}
.multiple-answers .answer:hover,.card .card-body span:hover{
    box-shadow: #aaa 0px 4px 4px;
    transform: translateY(-2px);
    background: #0d6ba1;
}

.footer-question,.card .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.count-question{
    font-weight: 900;
    padding: 12px 16px;
    box-shadow: 0px 5px 6px #aaa;
    border-radius: 4px;
    background-color: #ddd;
}
/* <!-- end show question to play one by one --> */

/* add page edit and create display question after edit */
.container2 {
    display: none;
}